*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(hd-laptop-wallpaper.jpg);
    background-position: right;
    
    background-size: cover;
    background-repeat: no-repeat;
    
   
}
nav{
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 20px;
}
.logo{
    color:white ;
    font-size:35px ;
    letter-spacing: 1px;
    cursor: pointer;
}
.logo span{
     color: greenyellow;
}
span{
    color: rgb(34, 62, 218);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    
}
nav ul li a:hover{
    color: rgb(59, 59, 233);
    transition: .4s;

}
.btn{
    background-color:rgb(8, 88, 201);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
    
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);


}

h1{
    color: white;
    margin:20px 0px 20px ;
    font-size: 65px;

}
.content h1 span{
    color: grey;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color:grey;
    letter-spacing: 2px;
    font-size: 20px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;

}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(8, 88, 201);
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(8, 88, 201);
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;

}
.about img{
    height: auto;
    width: 430px;

}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size:75px ;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: rgb(8, 88, 201);
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}
button:hover{
    background-color: transparent;
    border:2px solid rgb(8, 88, 201) ;
    cursor: pointer;
}

.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;

}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}
.card {
    width: 335px;  /* Keep width fixed */
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden; /* Change to 'visible' if content needs to expand outside */
    text-align: center;
    min-height: 365px; /* Ensures a minimum height but allows expansion */
    height: auto; /* Allows the card to expand as more text is added */
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #2f09ef;

}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}
.pra p{
    color:white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.card .button{
    background-color: rgb(8, 88, 201);
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border:2px solid  ;
    cursor: pointer;
}
.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}
.contact-me .button-two{
    background-color: rgb(8, 88, 201);
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border:2px solid rgb(8, 88, 201) ;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;


}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
    gap: 20px;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    align-items:center ;
    justify-content: center;
    background:rgb(8, 88, 201);
    border-radius: 50%;
    padding: 10px; /* Adds padding for spacing */
    margin: 22px 10px;
    color: white;
    text-decoration: none ;
    font-size: 20px;
}
.social i {
    font-size: 24px; /* Adjust icon size */
    margin-top: 30px; /* Adds space between icon and text */
}
.social span {
    font-size: 14px; /* Adjust text size */
    margin-top: 20px; /* Adds spacing from the icon */
    display: block; /* Ensures text is below the icon */
    color: white;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #2f09ef;
    bottom: 35px;
    font-size: 14px;

}


/*rating*/
body {
    font-family: Arial, sans-serif;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 10px 0;
}
.rating input {
    display: none;
}
.rating label {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
}
.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}
.submit-btn {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}