/* Responsive Design */
@media (min-width: 1024px) and (max-width: 1279px) {
    .content {
        left: 1%;
        width: 60%;
        text-align: left;
        margin-bottom: 150px;
        margin-top: 200px;
    }
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .content {
        left: 1%;
        width: 55%;
        text-align: left;
        margin-bottom: 180px;
        margin-top: 100px;
    }
    
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) { 
    .content {
        left: 1%;
        width: 50%;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 992px) {
    .content {
        left: 5%;
        width: 90%;
        text-align: center;
        margin-bottom: 100px;
        margin-top: 50px; /* Adjusted to move content higher */
    }
    h1 {
        margin-top: 50px;
        font-size: 45px;
    }
    h3 {
        margin-top: 50px;
        font-size: 20px;
    }
    h4 {
        margin-top: 50px;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        left: 3%;
        width: 95%;
        text-align: center;
        margin-bottom: 100px;
        margin-top: 100px; /* Moves content near the top */
    }
    h1 {
        
        font-size: 40px;
    }
    h3 {
        
        font-size: 18px;
    }
    h4 {
       
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .content {
        top: 10px; /* Moves content to the very top */
        left: 2%;
        width: 96%;
        text-align: center;
        margin-bottom: 100px;
        margin-top: 60px; /* Almost no top margin */
    }
    h1 {
       margin-top: 20px;
        font-size: 35px;
        
    }
    h3 {
       margin-top: auto;
        font-size: 16px;
        margin-bottom:30px;
    }
    h4 {
        
       margin-top: 180px;
        font-size: 12px;
    }
    .newsletter form input:first-child {
       
        padding: 12px 90px 12px 15px;
    }
    .newsletter form input:last-child {
        padding: 8px 20px;
        font-size: 14px;
    }
}



@media screen and  (max-width: 576px) {
    .about-text {
        padding: 70px 20px;
    }

    .about img {
        width: 90%;
        max-width: 250px;
    }

    .about-text h2 {
        font-size: 35px;
    }

    .about-text h5 {
        font-size: 14px;
    }

    .about-text p {
        font-size: 12px;
        line-height: 22px;
    }

    button {
        padding: 10px 25px;
        font-size: 14px;
    }
}



/* Large screens (desktops, laptops) */
@media (min-width: 1024px) {
    .title h2 {
        font-size: 65px;
        max-width: 85%;
    }
}

/* Tablets */
@media (max-width: 992px) {
    .title h2 {
        font-size: 55px;
        max-width: 80%;
    }
}

/* Smaller tablets and large phones */
@media (max-width: 768px) {
    .title h2 {
        font-size: 45px;
        max-width: 90%;
    }
}

/* Mobile devices */
@media (max-width: 576px) {
    .title h2 {
        font-size: 35px; /* Smaller font for small screens */
        max-width: 95%;
    }
}



/* Responsive Design */
@media (max-width: 992px) {
    .main {
        flex-direction: column; /* Stack items vertically */
        text-align: center;
    }

    .about img {
        width: 80%;
        max-width: 350px; /* Adjust image size for tablets */
    }

    .about-text h2 {
        font-size: 50px; /* Reduce heading size */
    }

    .about-text h5 {
        font-size: 18px;
    }

    .about-text p {
        font-size: 16px;
        line-height: 26px;
    }
}




@media (max-width: 768px) {
    .about {
        padding: 60px 20px; /* Reduce padding for smaller screens */
    }

    .about img {
        width: 100%;
        max-width: 300px;
    }

    .about-text h2 {
        font-size: 40px;
    }

    .about-text h5 {
        font-size: 16px;
    }

    .about-text p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width: 576px) {
    .about {
        padding: 50px 10px;
    }

    .about img {
        width: 90%;
        max-width: 250px;
    }

    .about-text h2 {
        font-size: 35px;
    }

    .about-text h5 {
        font-size: 14px;
    }

    .about-text p {
        font-size: 12px;
        line-height: 22px;
    }

    button {
        padding: 10px 25px;
        font-size: 14px;
    }
}





